{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% block content %}
{% load static %}
<div>
  <img height="250px" wigth="250px" src="{% static 'img/photo.png' %}">
  </div>
<div>
<h3>Привет, я Дмитрий</h3>
<p>
    <p><a href="https://github.com/smirnovds1990">Ссылка на GitHub</a></p>
  </div>
  <h5>О себе</h5>
  <div>
    <p>
      Я пришёл в программирование, решив кардинально поменять профессию. В этом деле я абсолютный новичок, поэтому всё, что сейчас со мной происходит ОЧЕНЬ сложно, но невероятно интересно.
      Так что я нацелен на продуктивное продолжение обучения и, надеюсь, начало карьеры в новой сфере. Прошу не судить строго за данную поделку. Если бы было больше времени, и я не опаздывал со сдачей спринта, то я бы попробовал сделать эту страницу поинтересней. А так, извините, как есть.
    </p>
  </div>
</p>
{% endblock %}